{include file="page_header"}
<style>
	.jiaotou_left{width: 15%;float: left;
		height: 3rem;padding-left: 1rem;
		line-height: 3rem;
		font-size: 1.4rem;}
	.content_text{width: 50%;margin: 0 auto;
		line-height: 3rem;
		font-size: 1.5rem;text-align: center;font-weight: 600;}
	header{
		height:3rem;
		line-height:3rem;
		background: #ffffff;
	}
	.text-area1{
		padding-bottom:0 !important;
	}
	.user-recharge .t-goods1{
		margin-top: 0.65rem;
	}
</style>
<div class="con">
	<header>
		<a href="{url('user/account/index')}" class="jiaotou_left">取消</a>
		<div class="content_text">余额充值</div>
	</header>
    <form action="{url('user/account/account')}" method="post">
		<div class="user-recharge ">
			<section class="m-top10 b-color-f padding-lr j-show-div j-show-get-val">
				<div class="text-all dis-box ">
					<label class="t-remark" style="color: #000000">充值渠道</label>
					<div class="box-flex t-goods1 text-right onelist-hidden"><span> </span> <em class=""></em></div>
					<span class="t-jiantou"><i class="iconfont icon-jiantou tf-180" style="margin-top: 1rem;"></i></span>
				</div>
				<!--充值方式弹出层-->
				<div class="show-time-con ts-3 b-color-1 j-filter-show-div">
					<section class="goods-show-title of-hidden padding-all">
						<h3 class="fl g-c-title-h3">充值渠道</h3>
						<i class="iconfont icon-guanbi2 show-div-guanbi fr"></i>
					</section>
					<section class="s-g-list-con swiper-scroll">
						<div class="swiper-wrapper">
							<div class="swiper-slide select-two">
								<ul class="j-get-one padding-all">
									{foreach $payment as $list}
									<li class="ect-select">
										<label class="ts-1" onclick="show({$list.pay_id})"><dd><span>{$list.pay_name} </span> {if $list.pay_fee}手续费： <em class="t-first">{$list.pay_fee}</em>{/if}</dd><i class="fr iconfont icon-gou ts-1"></i></label>
									</li>
									{/foreach}
								</ul>
							</div>
							<div class="swiper-scrollbar"></div>
						</div>
					</section>
				</div>
			</section>

			<section class="padding-lr b-color-f" >
    			<div class="">
    				<div class="t-remark f-04" style="width: 100%;color: #000000" >充值金额</div>
    				<div class="box-flex input-text" style="display: inline-block;border-bottom: 1px solid #f6f6f9;">
						<span style="font-size: 3rem;">￥<input style="font-size:2.5rem;width: 60%;" class="j-input-text" type="number" min="{$buyer_recharge}" step="0.01" placeholder="请输入充值金额" name="amount"></span>

    			    </div>
    			</div>
            </section>

            <!--<section class="margin-lr">-->
                <!--<div class="text-all dis-box j-text-all">-->
                    <!--<div class="box-flex f-03 col-6">-->
                        <!--最低充值金额：<em class="color-red">{if $buyer_recharge > 0}￥{$buyer_recharge}{else}不限{/if}</em>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</section>-->

            <section class="b-color-f padding-all">
				<div class="f-c-select-msg">
					<label class="t-remark" style="color: #000000">备注<span class="t-remark">（50字）</span></label>
					<div class="text-area1 m-top04">
                        <textarea name="user_note" maxlength="50" placeholder="（选填）"></textarea>
						<span>50</span>
					</div>
				</div>
			</section>


		</div>
		<div class="padding-all">
            <input type="hidden" name="surplus_type" value="0" />
            <input type="hidden" name="payment_id" value="0" />
            <input type="hidden" name="pay_code" value="0" />
            <input type="hidden" name="pay_name" value="0" />
            <input type="hidden" name="pay_fee" value="0" />
            <input type="hidden" name="rec_id" value="0" />
            <button type="submit" class="btn-submit br-5 " name="submit" value="sub">提交申请</button>
		</div>
    </form>
    <!--弹窗layer-->
    <div class="mask-filter-div"></div>
</div>

<!--快捷导航-->
{include file="float_nav"}
            <li>
                <a href="{url('user/account/index')}">
                     <i class="iconfont icon-money"></i>
                     <p>资金管理</p>
                </a>
            </li>
{include file="float_nav_footer"}

<script type="text/javascript">
	function show(pid){
        $("input[name=payment_id]").val(pid);
    }
</script>
</body>
</html>