{include file="page_header"}
<style>
	.box-flex p{
		padding-top: 0 !important;
	}
    .my-nav-box>a>div{
        background: #ffffff;
        line-height: 100%;
    }
    .my-nav-box>a>div>h3,.my-nav-box>a>div>p{
        padding-top: 0.3rem;
    }
    .my-nav-box>a:first-child>div>h3{
        color: #e68c3b;
    }
    .my-nav-box>a>div:first-child>div>img{
        width: 1.9rem;
        margin-right: 0.5rem;
    }
    .my-nav-box>a>div>p{
        font-size: 0.6rem;
        color: #808080;
        line-height: normal;
    }
	.my-nav-box>a>div>h3{
		padding-top:0;
	}
</style>
		<section class="purse-header-box text-center purse-f">
			<div style="width: 100%;padding-top: 0.6rem;">
				<div style="width: 15%;float: left;"><i class="iconfont icon-jiantou tf-180 jian-top" style="color: #ffffff"></i></div>
				<div style="width: 70%;text-align: center;float: left;">资金管理</div>
				<div style="width: 15%;float: right;"><i class="iconfont icon-shezhi"></i></div>
			</div>
			<p style="padding-top: 5rem;">可用余额</p>
			<h2>{$surplus_amount}</h2>
			<h5>冻结余额：{$frozen_money}</h5>
			<div style="width: 100%;height: 7rem;padding-top: 1rem;">
				<div style="height: 7rem;width: 7rem;margin: 0 auto;position: relative;border-radius: 3.5rem;overflow: hidden;	">
					<img style="display:block;height: 7rem;width: 7rem;position: absolute;top: 0;left: 0;" src="/mobile/public/img/user_prolie.jpeg" alt="">
				</div>

			</div>
			<section class="b-color-f my-nav-box m-top10" style="background: #ec5151">
				<div class="user-money-list g-s-i-title-1 dis-box my-dingdan purse-f" style="padding-top: 0;padding-bottom:1.2rem ;">
					<!--<a href="{url('user/account/bonus')}" class="box-flex text-center" style="color: #ffffff">
						<p class="t-remark3" style="color: #ffffff;margin-bottom: 0.5rem;">{$lang.your_bonus}</p>
						<h4 class="ellipsis-one">{$record_count}</h4>
						<div class="purse-ts-box" style="display:none"></div>
					</a>
					{if C('shop.use_value_card')}

					<a href="{url('user/account/value_card')}" class="box-flex text-center" style="color: #ffffff">
						<p class="t-remark3" style="color: #ffffff;margin-bottom: 0.5rem;">{$lang.your_vc_card} </p>
						<h4 class="ellipsis-one">{$value_card.num}</h4>
						<div class="purse-ts-box" style="display:none"></div>
					</a>
					{/if}
					<a href="{url('user/account/pay_points')}" class="box-flex text-center" style="color: #ffffff">
						<p class="t-remark3" style="color: #ffffff;margin-bottom: 0.5rem;">{C('shop.integral_name')}</p>
						<h4 class="ellipsis-one">{$pay_points}</h4>
						<div class="purse-ts-box" style="display:none"></div>
					</a>
					-->
					<a href="/mobile/resources/views/user/yundou.detail.html" class="box-flex text-center" style="color: #ffffff">
						<p class="t-remark3" style="color: #ffffff;margin-bottom: 0.5rem;">
							<div style="position: relative;width: 100%;height: 24px;">
						       <div style="position: relative;width: 47%;float: left;text-align: right;height: 24px;">
								   <div style="position:absolute;right: 0;top: 0;width: 24px;height: 22px">
									   <img style="position:absolute;display: block;right: 0;top: 0;width: 24px;height: 22px;" src="/mobile/public/img/account_yundou_pg.png" alt="">
								   </div>
							   </div>
						       <div style="position: relative;width: 53%;float: right;text-align: left">
								   云豆
							   </div>
						    </div>
						</p>
						<h4 class="ellipsis-one" style="width: 100%;">15484</h4>
						<div class="purse-ts-box" style="display:none"></div>
					</a>

					<a href="/mobile/resources/views/user/uu.detail.html" class="box-flex text-center" style="color: #ffffff">
						<p class="t-remark3" style="color: #ffffff;margin-bottom: 0.5rem;">
						<div style="position: relative;width: 100%;height: 24px;">
							<div style="position: relative;width: 44%;float: left;text-align: right;height: 24px;">
								<div style="position:absolute;right: 0;top: 0;width: 24px;height: 22px">
									<img style="position:absolute;display: block;right: 0;top: 0;width: 19px;height: 24px;" src="/mobile/public/img/account_uu_pg.png" alt="">
								</div>
							</div>
							<div style="position: relative;width: 56%;float: right;text-align: left">
								uu信用
							</div>
						</div>
						</p>
						<h4 class="ellipsis-one" style="width: 100%;">15484</h4>
						<div class="purse-ts-box" style="display:none"></div>
					</a>

				</div>
			</section>
		</section>
<!--
<div class="user-pur-box">
	<div class="user-nav-1-box g-s-i-title-2 dis-box text-center">
		<a href="{url('user/account/deposit')}" class="box-flex">
			<h4 class="ellipsis-one purse-f"><i class="iconfont icon-money is-money-color"></i>充值</h4>
		</a>
		<a href="{url('user/account/accountraply')}" class="box-flex">
			<h4 class="ellipsis-one purse-f"><i class="iconfont icon-wodetixian is-money-color"></i>提现</h4>
		</a>
	</div>
</div>-->
		<section class="my-nav-box">
            <a href="{url('user/account/detail')}">
                <div class="dis-box padding-all my-bottom" style="margin-bottom: 1.2rem;">
                    <div><img src="/mobile/public/img/account_detail_pg.png" alt=""></div>
                    <h3 class="box-flex text-all-span my-u-title-size">{$lang.account_detail}</h3>
                    <p>2320789696@qq.com</p>
                    <div class="f-04"><span class="t-jiantou"><i class="iconfont icon-jiantou tf-180 jian-top"></i></span></div>
                </div>
            </a>
            <a href="/mobile/resources/views/user/bank_cart_manage.html" >
                <div class="dis-box padding-all my-bottom">
                    <div><img src="/mobile/public/img/account_manage_pg.png" alt=""></div>
                    <h3 class="box-flex text-all-span my-u-title-size">账户管理</h3>
                    <p>添加，修改，银行卡</p>
                    <div class="f-04"><span class="t-jiantou"><i class="iconfont icon-jiantou tf-180 jian-top"></i></span></div>
                </div>
            </a>
			<a href="{url('user/account/deposit')}" >
				<div class="dis-box padding-all my-bottom">
                    <div><img src="/mobile/public/img/recharge.png" alt=""></div>
					<h3 class="box-flex text-all-span my-u-title-size">充值</h3>
                    <p>支持支付宝，微信，银联，财付通</p>
					<div class="f-04"><span class="t-jiantou"><i class="iconfont icon-jiantou tf-180 jian-top"></i></span></div>
				</div>
			</a>
            <a href={url('user/account/accountraply')}">
                <div class="dis-box padding-all my-bottom">
                    <div><img src="/mobile/public/img/tixian.png" alt=""></div>
                    <h3 class="box-flex display_block text-all-span my-u-title-size">提现</h3>
                    <p>将余额提现到银行卡</p>
                    <div class="f-04"><span class="t-jiantou"><i class="iconfont icon-jiantou tf-180 jian-top"></i></span></div>
                </div>
            </a>
            <a href={url('user/account/accountraply')}">
                <div class="dis-box padding-all my-bottom">
                    <div><img src="/mobile/public/img/zhuanzhang.png" alt=""></div>
                    <div class="box-flex text-all-span my-u-title-size">转账</div>
                    <p>会员转账及时到账</p>
                    <div class="f-04"><span class="t-jiantou"><i class="iconfont icon-jiantou tf-180 jian-top"></i></span></div>
                </div>
            </a>
            <!--
			<a href="{url('user/account/log')}">
				<div class="dis-box padding-all my-bottom">
                    <div><img src="/mobile/public/img/account_detail_pg.png" alt=""></div>
					<h3 class="box-flex text-all-span my-u-title-size">{$lang.account_apply_record}</h3>
					<div class="f-04"><span class="t-jiantou"><i class="iconfont icon-jiantou tf-180 jian-top"></i></span></div>
				</div>
			</a>
            <a href="{url('user/index/inv_info')}">
				<div class="dis-box padding-all my-bottom">
                    <div><img src="/mobile/public/img/account_detail_pg.png" alt=""></div>
					<h3 class="box-flex text-all-span my-u-title-size">{$lang.inv_info}</h3>
					<div class="f-04"><span class="t-jiantou"><i class="iconfont icon-jiantou tf-180 jian-top"></i></span></div>
				</div>
			</a>-->
		</section>

    <!--快捷导航-->
    {include file="float_nav"}
    {include file="float_nav_footer"}

</body>
</html>