<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>浏览记录</title>
    <link rel="stylesheet" href="../../../public/css/browse_records.css">
    <script src="../../../public/js/jquery-1.12.4.js"></script>
</head>
<body>
<div class="br_hidden"></div>
<div class="br_alert_del">
    <div><img src="../../../public/img/del_warn.png" alt=""></div>
    <span>是否删除浏览记录</span>
    <div class="del_sure">
        <button>删除</button>
        <button>取消</button>
    </div>
</div>
<header>
    <div class="br_top_img"><a href=""><img src="../../../public/img/book_left.png" alt=""></a></div>
    <div class="br_content">
       浏览记录
    </div>
    <div class="br_del">
        <img src="../../../public/img/br_del_pg.png" alt="">
    </div>
</header>
<nav class="nav_search">
        <ul>
            <li class="nav_search_sty">今天</li>
            <li>本周</li>
            <li>本月</li>
            <li>三个月</li>
            <li>全部</li>
        </ul>
</nav>
<section class="br_history">
    <div class="history_time">&nbsp;&nbsp;&nbsp;&nbsp;07月4日</div>
    <div class="history_content">
        <ul>
            <li>
                <div><img src="../../../public/img/bookmark_pg1.png" alt=""></div>
                <div>我的德哈斯达拉斯你发顺丰好啦是否www.25658.comdaspodpasjdpsajdsajd</div>
            </li>
            <li>
                <div><img src="../../../public/img/bookmark_pg1.png" alt=""></div>
                <div>我的德哈斯达拉斯你发顺丰好啦是否www.25658.comdaspodpasjdpsajdsajd</div>
            </li>
            <li>
                <div><img src="../../../public/img/bookmark_pg1.png" alt=""></div>
                <div>我的德哈斯达拉斯你发顺丰好啦是否www.25658.comdaspodpasjdpsajdsajd</div>
            </li>
            <li>
                <div><img src="../../../public/img/bookmark_pg1.png" alt=""></div>
                <div>我的德哈斯达拉斯你发顺丰好啦是否www.25658.comdaspodpasjdpsajdsajd</div>
            </li>
        </ul>
    </div>
    <div class="history_time">&nbsp;&nbsp;&nbsp;&nbsp;07月5日</div>
    <div class="history_content">
        <ul>
            <li>
                <div><img src="../../../public/img/bookmark_pg1.png" alt=""></div>
                <div>我的德哈斯达拉斯你发顺丰好啦是否www.25658.comdaspodpasjdpsajdsajd</div>
            </li>
            <li>
                <div><img src="../../../public/img/bookmark_pg1.png" alt=""></div>
                <div>我的德哈斯达拉斯你发顺丰好啦是否www.25658.comdaspodpasjdpsajdsajd</div>
            </li>
            <li>
                <div><img src="../../../public/img/bookmark_pg1.png" alt=""></div>
                <div>我的德哈斯达拉斯你发顺丰好啦是否www.25658.comdaspodpasjdpsajdsajd</div>
            </li>

        </ul>
    </div>
    <div class="history_time">&nbsp;&nbsp;&nbsp;&nbsp;07月12日</div>
    <div class="history_content">
        <ul>
            <li>
                <div><img src="../../../public/img/bookmark_pg1.png" alt=""></div>
                <div>我的德哈斯达拉斯你发顺丰好啦是否www.25658.comdaspodpasjdpsajdsajd</div>
            </li>

        </ul>
    </div>
</section>


<script>
    $(".nav_search>ul>li").click(function () {
        var index=$(this).index();
        console.log(index)
        $(".nav_search>ul>li").eq(index).addClass("nav_search_sty");
        $(".nav_search>ul>li:gt("+index+")").removeClass("nav_search_sty");
        $(".nav_search>ul>li:lt("+index+")").removeClass("nav_search_sty");

    })
    $(".br_del").click(function () {
        console.log("13")
        $(".br_alert_del").animate({"width": "60%"},200);
        $(".br_alert_del").animate({"height": "20%"},200);
        $(".br_hidden").css("display","block")
    })
    $(".br_hidden").click(function () {
        $(".br_alert_del").animate({"width": "0%"},10);
        $(".br_alert_del").animate({"height": "0%"},10);
        $(".br_hidden").css("display","none")
    })
    $(".del_sure>button").click(function () {
        $(".br_alert_del").animate({"width": "0%"},10);
        $(".br_alert_del").animate({"height": "0%"},10);
        $(".br_hidden").css("display","none")
    })
</script>
</body>
</html>