<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../../public/css/resemble.css">
    <title>找相似</title>
</head>
<body>
<header>
    <div class="resemble_top_img"><a href="profile.bookmark.html"><img src="../../../public/img/book_left.png" alt=""></a></div>
    <div class="resemble_content">
        找相似
    </div>
    <div style="clear: both"></div>
</header>
<section class="resemble_product">
    <ul>
        <li>
            <div class="resemble_product_img"><img src="../../../public/img/bookmark_pg1.png" alt=""></div>
            <div class="product_describe" style="height: 6.2rem;min-height: 6.2rem" >
                <div class="describe_text">美味鲜辣披萨"披萨"萨"披萨一种由特殊的 饼底、乳一种由特殊的 饼底、乳一种由特殊的 饼底、乳是一种由特殊的 饼底、乳酪、酱汁...美味鲜辣披萨"披萨"是一种由特殊的 饼底、乳酪、酱汁...</div>
                <div class="describe_price">￥59.30</div>
                <div class="describe_collect"><span>2545</span>已收藏</div>
            </div>
        </li>
        <li>
            <div class="resemble_product_img"><img src="../../../public/img/bookmark_pg1.png" alt=""></div>
            <div class="product_describe" style="height: 6.2rem;min-height: 6.2rem" >
                <div class="describe_text">美味鲜辣披萨"披萨"萨"披萨一种由特殊的 饼底、乳一种由特殊的 饼底、乳一种由特殊的 饼底、乳是一种由特殊的 饼底、乳酪、酱汁...美味鲜辣披萨"披萨"是一种由特殊的 饼底、乳酪、酱汁...</div>
                <div class="describe_price">￥59.30</div>
                <div class="describe_collect"><span>2545</span>已收藏</div>
            </div>
        </li>
        <li>
            <div class="resemble_product_img"><img src="../../../public/img/bookmark_pg1.png" alt=""></div>
            <div class="product_describe" style="height: 6.2rem;min-height: 6.2rem" >
                <div class="describe_text">美味鲜辣披萨"披萨"萨"披萨一种由特殊的 饼底、乳一种由特殊的 饼底、乳一种由特殊的 饼底、乳是一种由特殊的 饼底、乳酪、酱汁...美味鲜辣披萨"披萨"是一种由特殊的 饼底、乳酪、酱汁...</div>
                <div class="describe_price">￥59.30</div>
                <div class="describe_collect"><span>2545</span>已收藏</div>
            </div>
        </li>
        <li>
            <div class="resemble_product_img"><img src="../../../public/img/bookmark_pg1.png" alt=""></div>
            <div class="product_describe" style="height: 6.2rem;min-height: 6.2rem" >
                <div class="describe_text">美味鲜辣披萨"披萨"萨"披萨一种由特殊的 饼底、乳一种由特殊的 饼底、乳一种由特殊的 饼底、乳是一种由特殊的 饼底、乳酪、酱汁...美味鲜辣披萨"披萨"是一种由特殊的 饼底、乳酪、酱汁...</div>
                <div class="describe_price">￥59.30</div>
                <div class="describe_collect"><span>2545</span>已收藏</div>
            </div>
        </li>
        <li>
            <div class="resemble_product_img"><img src="../../../public/img/bookmark_pg1.png" alt=""></div>
            <div class="product_describe" style="height: 6.2rem;min-height: 6.2rem" >
                <div class="describe_text">美味鲜辣披萨"披萨"萨"披萨一种由特殊的 饼底、乳一种由特殊的 饼底、乳一种由特殊的 饼底、乳是一种由特殊的 饼底、乳酪、酱汁...美味鲜辣披萨"披萨"是一种由特殊的 饼底、乳酪、酱汁...</div>
                <div class="describe_price">￥59.30</div>
                <div class="describe_collect"><span>2545</span>已收藏</div>
            </div>
        </li>
    </ul>
</section>
</body>
</html>