<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/mobile/public/css/yundou_detail.css">
    <link rel="stylesheet" href="/mobile/public/css/ectouch.css">
    <link rel="stylesheet" href="/mobile/resources/assets/css/ectouch.css">
    <link rel="stylesheet" href="/mobile/public/css/crowd_funding/iconfont.css">
    <link rel="stylesheet" href="/mobile/public/css/app.min.css">
    <link rel="stylesheet" href="/mobile/public/css/detail-style.css">
    <title>Document</title>
</head>
<body>
<header>
    <div style="width: 15%;float: left;padding-left: 1rem;"><i class="iconfont icon-jiantou tf-180 jian-top"></i></div>
    <div>云豆记录</div>
</header>
</body>
</html>