*{
    margin:0;
    padding:0;
}
ul,li,ol{
    list-style:none;
}
body{
    background:  #f2f2f2;
}

a{
    text-decoration:none;
}
img{border:0;}
.clear{
    height:0;
    overflow:hidden;
    clear:both;
    line-height:0;
    font-size:0;
}
.display_none{
    display: none;
}
.display_block{
    display: block;
}
.book_top_img{
    padding-top:1rem;
    padding-left:1rem;
    width:4%;
    float: left;
}
.book_top_img>img{
    width:100%;
    height:100%;
}
.book_content{
    margin: 0 auto;
    width: 50%;
}
.book_manage{
    width:17%;
    height:2rem;
    margin-top: 1.5rem;
    line-height:2rem;
    padding-right:1rem;
    text-align: right;
}
.book_manage>img{
    width:25%;
    padding-top:2px;
}
header{
    width: 100%;
    height: 5rem;
    display: inline-block;
    border-bottom:1px solid #cccccc;
}

header>div:last-child{
    float: right;
}
.book_content_biaoji{
    border-bottom: 1px solid #1a1a1a;
}
.book_content>ul>li{
    width:33%;
    float: left;
    text-align: center;
    font-size:2rem;
    padding-bottom: 0.2rem;
    padding-top:1rem;
}
.book_content_section{
    position: relative;
    width: 100%;

}
.search_color{
    color:red;
}
.search_color>span{
    font-size: 1.75rem;
}
.select_hidden{
    display: none;
    position: fixed;
    z-index: 20;
    left:0;
    width: 100%;
    height:100%;
    background-color: rgba(0, 0, 0, .5);
}
.book_search{
    height: 4.3rem;
    line-height:4rem;

}
.book_search>div{
    display: inline-block;
    float: left;
    margin-left:2rem;
}
.search_stu{
    font-size: 1.75rem;
}
.img_change>img{
    width: 32px;
    height: 32px;
}
header,.describe>ul>li,.book_search{
    background: #ffffff;
}
.jiaotou_left{
    margin-top: 1.5rem;
    width: 10%;
    padding-left: 1rem;
    float: left;
}
.book_search>img{
    float: right;
    width: 32px;
    height: 32px;
    margin-right:1rem;
    margin-top:1rem;
}
.select_content_one{
    width: 100%;
    display: none;
    overflow: hidden;
    background: #ffffff;
    position: absolute;
    top: 4.3rem;
    left:0;
    z-index: 255;
    margin:0;
    padding:0;
    opacity: 1;
}

.select_content_one>ul>li{
    height:0rem;
    font-size:1.5rem;
    line-height:4rem;
    padding: 0;
    margin: 0;
    border-top:1px solid #cccccc;
}
.select_content_one>ul>li>div{
    float: left;
}
.select_content_one>ul>li>span{
    margin-left:2rem;
    line-height:3rem;
}
.describe>ul>li{
    width: 100%;
    float: left;
}
.describe_checkbox{
    width:0%;
    overflow: hidden;
    transition: all 0.3s;
    margin-top: 3rem;
    float: left;
}
.product_describe_info{
    display: inline-block;
    margin-top: 5rem;
    width: 100%;
}
.describe_checkbox>input{
    display: none;
}
input[type="checkbox"]{
    width:2rem;
    height:2rem;
    margin-left:0.5rem;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 1.5rem;
    position: relative;

}
input[type="checkbox"]::before{
    content: "";
    position: absolute;
    top: 0;left: 0;
    background: #fff;
    width: 100%;
    height: 100%;
    border: 1px solid #d9d9d9}
input[type="checkbox"]:checked::before{
    content: "\2713";
    background-color: #F65419;
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    color:#ffffff;
    font-size: 1.5rem;
    font-weight: bold;
}

.describe_img{
    width: 30%;
    float: left;
}
.describe_img>img{
    border-radius: 1rem;
    width: 100%;
    background: #dfdfdf;

}
.product_describe{
    position: relative;
    width: 68%;
    float: left;
}

.describe_text{
    font-size:1.3rem;
    margin-top:0.5rem;
    line-height:1.4rem;
    margin-left:0.5rem;
    width:98%;
    height: 2.8rem;
    overflow:hidden;
    text-overflow: ellipsis;
}
.describe_price{
    font-size:1.2rem;
    color:#d95c58;
    margin-left: 0.5rem;
}
.describe_collect{
    font-size:1rem;
    margin-left: 0.5rem;
    color: #808080;
}
.describe_like{
    font-size:1.2rem;
    padding-left: 0.3rem;
    padding-right: 0.5rem;
    margin-right: 0.5rem;
    float: right;
    border:1px solid #cccccc;
    border-radius: 1rem;
}
.describe_like>a{
    color: #808080;
}
.describe_li_sty1{
    padding-top:0.5rem;
    padding-left:2%;
    width:98%;
    float: left;
}
.describe_li_sty2{
    margin-top:0.3rem;
    margin-left:2%;
    padding: 0;
    width:99%;
    float: left;
    border-radius: 1rem;
}
.describe>ul>li{
    transition: all 0.3s;
    padding-bottom: 0.5rem;
}
.describe>ul>li:not(:last-child){
    border-bottom:1px solid #cccccc;
}

.xuanz{
    transition: all 0.5s;
}
.xuanzhuan{
    transform-origin: 50% 50%;
    transform: rotate(180deg);
}
.tuijian{
    width: 100%;
    height: 100%;
    background: #f2f2f2;
}
.tuijian_top{
    width: 100%;
    height: 3rem;
    line-height:3rem;
    font-size:1.2rem;
    text-align: center;
    margin-bottom:0.5rem;
    padding-top:1.5rem;
}
.tuijian_product_describe{
    width: 100%;
    height:7rem;
    position: relative;
}
.tuijian_product{
    width:45%;
    background: #ffffff;
    border-radius:1rem ;
    margin-left:0.5rem;
    float: left;
}
.tuijian_product>img{
    width:100%;
    background: #dfdfdf;
    text-align: center;
    border-radius: 1rem;
    display: block;
}
.tuijian_describe_text{
    font-size:0.9rem;
    margin-top:0.5rem;
    line-height:1.2rem;
    width:98%;
    height: 3.6rem;
    overflow:hidden;
    margin-left:0.2rem;
    text-overflow: ellipsis;
}

.tuijian_describe_price{
    position: absolute;
    top: 0.6rem;
    left:0.1rem;
    font-size:0.8rem;
    color:#d95c58;
}
.tuijian_describe_collect{
    position: absolute;
    bottom: 0.6rem;
    left:30%;
    font-size:0.3rem;
    color: #808080;
}
.tuijian_describe_like{
    position: absolute;
    bottom: 0.5rem;
    right:0.3rem;
    font-size:0.6rem;
    width: 2.5rem;
    height: 1rem;
    border:1px solid #cccccc;
    line-height:1rem;
    text-align: center;
    border-radius: 0.5rem;
}
.tuijian_describe_like>a{
    display: block;
    width: 100%;
    height: 100%;
    color: #808080;
}

.tuijian_product:nth-child(odd){
    margin-left:1rem;
}
.book_section{
    width: 100%;
    position: relative;
}
.select_content_one1{
    width: 100%;
    display: none;
    overflow: hidden;
    background: #ffffff;
    position: absolute;
    top: 4.3rem;
    left:0;
    z-index: 201;
    margin:0;
    padding:0;
    opacity: 1;
}
.select_content_one1>ul>li{
    height:0rem;
    line-height:4rem;
    border-top:1px solid #cccccc;
}
.select_content_one1>ul>li>span{
    line-height:4rem;
    font-size:1.5rem;
    margin-left:2rem;
}
.sc_shop_detail{
    width: 100%;
    background:  #f2f2f2;
}
.sc_shop_detail>ul>li>img{
    width: 20%;
    margin-left:0.6rem;
    border-radius: 50%;
    margin-bottom: 0.5rem;
}
.sc_shop_detail>ul>li:not(:last-child){
    width: 100%;
    height: 100%;
    float: left;
    background: #ffffff;
    border-bottom: 1px solid #cccccc;
}
.sc_shop_detail>ul>li>div{
    font-size: 2rem;
    float: right;
    width:74%;
}
.sc_shop_detail>ul>li>div>div:first-child{
    height: 100%;
    margin-top: 1rem;
    line-height:4rem;
    float: left;
}

.sc_shop_detail>ul>li>div>div:last-child{
    text-align: center;
    height: 100%;
    float: right;
    padding-top:1rem;
    padding-right:1rem;
    font-size:0.5rem;
    color: #d95c58;
}
.sc_shop_detail>ul>li>div>div:last-child{
    font-size: 1.25rem;
}
.checkbox_sty{
    display: block;
    width:1.5rem;
    float: left;
}
.manage_del{
    position: fixed;
    height: 8rem;
    width: 100%;
    bottom: -8rem;
    left:0;
    background: #ffffff;
    border-top:1px solid #cccccc;
    transition: all 0.3s;
}
.manage_del>input{
    float: left;
}
.manage_del>label{
    display:block;
    height: 100%;
    width: 10%;
    float: left;
    font-size: 1.75rem;
    line-height: 8rem;
    margin-left:0.5rem;
}
.manage_del_sty{
    float: right;
    position: relative;
    margin-right:2rem;
    background-color: #F65419;
}
.manage_del_btn{
    font-size:1.75rem;
    height: 3rem;
    background-color: #F65419;
    border-radius: 1.5rem;
    border: 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    color: #ffffff;
    top: 2.5rem;
}
.no_more{
    width: 100%;
    text-align: center;
    color:#808080;
    margin-top:0.9rem;
    font-size:0.8rem;
}
